.formulario{
    width: 100%;
    position: relative;
}
label{
    display: block;
    margin-top: .5rem;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    color: #46747cb9;
}

input{
    display: block;
    height: 2.2rem;
    width: 100%;
    background: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: .2rem;
    font-size: 14px;
    border: 1px solid #111;
}
::placeholder{
    color: #27575fb0;
}
.error{
    position: absolute;
    top: 0;
    right: 0;
    color: red;
    font-size: .9rem;
}