.modal-cart-product{
    display: grid;
    grid-template-columns: 35% 65%;
    margin: .2rem;
}
.modal-cart-img img{
    width: 12vh;
}
.modal-cart-info-product h2{
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center;
}
.modal-cart-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
}
.modal-cart-info p{
    font-size: 1rem;
    opacity: .6;
}
.modal-cart-info .button-eliminated{
    margin: auto;
    width: 3vh;
    height: 3vh;
    cursor: pointer;
    border: 1px solid transparent;
    background: #fff;
}
.modal-cart-info .button-eliminated:active{
    transform: scale(.95);
}
.modal-cart-info .button-eliminated:hover{
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.6);
}
.button-eliminated svg{
    fill: red;
}